@use '../../stylesheet/variables' as v;

.tag {
    width: 30%;
    margin: 1rem 0;
    background-color: v.$color-primary;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 0.6rem;
      color: v.$text-light;
      font-family: v.$font-montserrat;
    }
  }
