@use "variables" as v;

//mixin flex avec align-items center par défaut
@mixin flex-center($justify: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
    flex-wrap: $wrap;
}


@mixin typography($font-size: 1.3rem, $font-weight: 400, $color: v.$text-light, $font-family: v.$font-montserrat) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    font-family: $font-family;
}

@mixin background-and-border($background-size: cover, $background-position: center, $background-repeat: no-repeat, $border-radius: 10px) {
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
  border-radius: $border-radius;
}
