@use '../../stylesheet/variables' as v;

img{
    width: 25%;
    @media (min-width: v.$md-breakpoint) {
        width: 15%;
      }
      @media (min-width: v.$lg-breakpoint) {
        width: 10%;
      }
}
