@use '../../stylesheet/variables' as v;

nav{
    font-family: v.$font-montserrat;
    ul {
        display: flex;
        gap: 1rem;
        li {
            list-style: none;
            text-transform: capitalize;
            font-weight: 500;
            color: v.$text-dark;
            a{
                text-decoration: none;
                &.active{
                    text-decoration: underline;
                    font-weight: 700;
                }
                &:visited {
                    color: v.$text-dark;
                }
            }
        }
    }
}