@use '../../stylesheet/variables' as v;

footer {
    width: 100%;
    height: 210px;
    margin: auto;
    background-color: v.$text-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    p {
        font-family: v.$font-montserrat;
        color: v.$text-light;
        font-size: 0.8rem;
        width: 35%;
    }
}
