@use '../../stylesheet/variables' as v;
@use '../../stylesheet/mixins' as m;

.rent_infos{
  .rent_header{
    width: 90%;
    margin: auto;
    .rent_location{
      h1{
        @include m.typography(1.8rem, 500,v.$color-primary);
        margin-bottom: 0.5rem;
      }
      h2{
        @include m.typography(1.4rem, 400, v.$text-dark);
      }
    }
    .rent_tags{
      @include m.flex-center();
      gap: 0.5rem;
    }
  
    @media (min-width: v.$md-breakpoint) {
      .rent_location{
        h1{
          font-size: 2.8rem;
        }
        h2{
          font-size: 1.6rem;
        }
      }
    }
  
    @media (min-width: v.$lg-breakpoint) {
      .rent_location{
        h1{
          font-size: 3.6rem;
        }
        h2{
          font-size: 1.8rem;
        }
      }
    }
  } 
  .rent_rating_and_host{
    width: 90%;
    margin: auto;
    @include m.flex-center(space-between);
    
    .host_infos{
      @include m.flex-center(space-around);
      flex-basis: 30%;
      order: 2;
        .host_name{
          @include m.typography(1.2rem, 400, v.$color-primary);
          flex-basis: 60%;
          }
        .host_picture{
          border-radius: 50px;
          flex-basis: 40%;
        }
    }
    .rating{
      flex-basis: 70%;
      display: flex;
      order: 1;
      gap: 0.5rem;
      svg{
        @include m.typography(1.5rem, 400, v.$color-primary);
      }
    }
  
    @media (min-width: v.$md-breakpoint) {
     flex-direction: column;
     align-items: flex-end;
     .host_infos{
      flex-basis: auto;
      display: flex;
      justify-content: end;
      order: 1;
        .host_name{
          font-size: 1.8rem;
          flex-basis: 40%;
          }
        .host_picture{
          border-radius: 50px;
          flex-basis: 20%;
        }
      }
      .rating{
        order: 2;
        flex-basis: auto;
        display: flex;
        svg{
          color: v.$color-primary;
          font-size: 1.8rem;
        }
      }
    }
  }
  @media (min-width: v.$md-breakpoint) {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    .rent_header, .rent_rating_and_host{
      flex-basis: 50%;
    }
   }
}

.rent_description_equipments{
  width: 90%;
  margin: auto;
  @media (min-width: v.$md-breakpoint) {
   display: flex;
   justify-content: space-between;
  }
}

