@use '../../stylesheet/variables' as v;

.main {
  min-height: auto;
  margin: 2rem auto;
  padding-bottom: 8rem; 
  .rent_header{
    font-family: v.$font-montserrat;
    width: 90%;
    margin: auto;
    .rent_location{
      h1{
        font-size: 1.8rem;
        color: v.$color-primary;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      h2{
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .rent_tags{
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  
  .rent_rating_and_host{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: v.$font-montserrat;
    .host_infos{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-basis: 30%;
        .host_name{
        width: 50%;
        font-size: 1.2rem;
        color: v.$color-primary;
        }
        .host_picture{
          border-radius: 50px;
          width: 40%;
        }
    }
    .rating{
      flex-basis: 70%;
      svg{
        color: v.$color-primary;
        font-size: 1.5rem;
      }
    }
  }
  
  .rent_description_equipments{
    width: 90%;
    margin: auto;
  }
}
