@use '../../stylesheet/variables' as v;

.notfound_content{
  font-family: v.$font-montserrat;
  color: v.$color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 65vh;
  h1{
    font-size: 9.6rem;
  }
  h2{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }
  a{
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 700;
    &:visited {
      color: v.$text-dark;
    }
  }
}