@use '../../stylesheet/variables' as v;
@use '../../stylesheet/mixins' as m;

.notfound_content{
  @include m.flex-center(space-around, column);
  height: 65vh;
  h1{
    @include m.typography(9.6rem, 700, v.$color-primary);
  }
  h2{
    @include m.typography(1.8rem, 500, v.$color-primary);
    text-align: center;
  }
  a{
    text-decoration: underline;
    @include m.typography(1.4rem, 700, v.$text-dark);
    &:visited {
      color: v.$text-dark;
    }
  }
}